@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgClr: #f6f6f6;
  --navBg: #fff;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --primary-default: #6a51a6;
  --theme-light: #fff;
  --theme-dark: #1e1e1e1;
}

body {
  background-color: var(--bgClr);
}
